#  Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

##  Some of the popular languages that Data Scientists use are:

###  Some of the commonly used libraries used by Data Scientists include:
     1. Pandas
     2. Matplotlib
     3. Plotly
     4. Seaborn
     5. ggplot

### Execute as a Markdown Cell

| Data science Tools | 
| ------------------ | 
| Python | 
| Scikit | 
| Java |

###  Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(7*5)+6

41

### This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

###  This will convert 200 minutes to hours by diving by 60

In [4]:
200 / 60

3.3333333333333335

###  List popular languages for Data Science
####  Objectives :
      Python
      Java
      C++
      SQL
      Julia

##  Author. Lakshiyien Namasivayam